@import "tailwindcss";

@keyframes scrollRight {
  0% {
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    transform: translate3d(0%, 0, 0);
  }
}

.animate-scroll-right {
  animation: scrollRight 40s linear infinite;
  will-change: transform;
}
